{% extends 'base.html.twig' %}

{% block title %}Home Page
{% endblock %}

{% block body %}
	<!-- Navbar Area Start -->
	<div
		class="navbar-area">
		<!-- Menu For Mobile Device -->
		<div class="mobile-nav">
			<a href="index.html" class="logo">
				<img src="{{asset('img/logo.png')}}" alt="logo" width="45px">
			</a>
		</div>

		<!-- Menu For Desktop Device -->
		<div class="main-nav">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light">
					<a class="navbar-brand" href="{{path('app_index')}}" >
						<img src="{{asset('img/logo.png')}}" alt="logo" width="45px">
					</a>
					<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
						<ul class="navbar-nav m-auto">
							<li class="nav-item">
								<a href="#" class="nav-link active">Home</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Jobs</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Catagories</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">About</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Contact Us</a>
							</li>
						</ul>

						<div class="other-option">
							<a href="{{path('app_register')}}" class="signup-btn">Sign Up</a>
							<a href="{{path('app_login')}}" class="signin-btn">Sign In</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<!-- Navbar Area End -->

	<!-- Banner Section Start -->
	<div class="banner-section banner-style-five">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="banner-content text-center">
						<h1>Find The Best Job For Future</h1>
						<p>Discover exciting opportunities that align with your passion and skills. Join us on a journey to
																					                        success!</p>
					</div>

					<form class="find-form">
						<div class="row">
							<div class="col-lg-3">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Job Title or Keyword">
									<i class="bx bx-search-alt"></i>
								</div>
							</div>

							<div class="col-lg-3">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleInputEmail2" placeholder="Location">
									<i class="bx bx-location-plus"></i>
								</div>
							</div>

							<div class="col-lg-3">
								<select class="category">
									<option data-display="Category">Category</option>
									<option value="1">Web Development</option>
									<option value="2">Graphics Design</option>
									<option value="4">Data Entry</option>
									<option value="5">Visual Editor</option>
									<option value="6">Office Assistant</option>
								</select>
							</div>

							<div class="col-lg-3">
								<button type="submit" class="find-btn">
									Find A Job
									<i class='bx bx-search'></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Banner Section End -->

	<!-- Category Section Start -->
	<section class="categories-section pt-100 pb-70">
		<div class="container">
			<div class="section-title text-center">
				<h2>Choose Your Category</h2>
				<p>Discover diverse options tailored to your interests and aspirations. Find your niche and embark on a
															                fulfilling journey.
				</p>
			</div>

			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<a href="job-list.html">
						<div class="category-card">
							<i class='flaticon-accounting'></i>
							<h3>Accountancy</h3>
							<p>301 open position</p>
						</div>
					</a>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					<a href="job-list.html">
						<div class="category-card">
							<i class='flaticon-graduation-cap'></i>
							<h3>Education</h3>
							<p>210 open position</p>
						</div>
					</a>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					<a href="job-list.html">
						<div class="category-card">
							<i class='flaticon-wrench-and-screwdriver-in-cross'></i>
							<h3>Automotive Jobs</h3>
							<p>281 open position</p>
						</div>
					</a>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					<a href="job-list.html">
						<div class="category-card">
							<i class='flaticon-consultation'></i>
							<h3>Business</h3>
							<p>122 open position</p>
						</div>
					</a>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					<a href="job-list.html">
						<div class="category-card">
							<i class='flaticon-heart'></i>
							<h3>Health Care</h3>
							<p>335 open position</p>
						</div>
					</a>
				</div>

				<div class="col-lg-3  col-md-4 col-sm-6">
					<a href="job-list.html">
						<div class="category-card">
							<i class='flaticon-computer'></i>
							<h3>IT & Agency</h3>
							<p>401 open position</p>
						</div>
					</a>
				</div>

				<div class="col-lg-3  col-md-4 col-sm-6 offset-md-2 offset-lg-0">
					<a href="job-list.html">
						<div class="category-card">
							<i class='flaticon-worker'></i>
							<h3>Engineering</h3>
							<p>100 open position</p>
						</div>
					</a>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6">
					<a href="job-list.html">
						<div class="category-card">
							<i class='flaticon-auction'></i>
							<h3>Legal</h3>
							<p>201 open position</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Category Section End -->

	<!-- Footer Section Start -->
	<footer class="footer-area pt-100 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<div class="footer-logo">
							<a href="index.html">
								<img src="{{asset('img/logo.png')}}" alt="logo" width="100px">
							</a>
						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore
																					                        et dolore magna. Sed eiusmod tempor incididunt ut.</p>

						<div class="footer-social">
							<a href="#" target="_blank">
								<i class='bx bxl-facebook'></i>
							</a>
							<a href="#" target="_blank">
								<i class='bx bxl-twitter'></i>
							</a>
							<a href="#" target="_blank">
								<i class='bx bxl-pinterest-alt'></i>
							</a>
							<a href="#" target="_blank">
								<i class='bx bxl-linkedin'></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget pl-60">
						<h3>For Candidate</h3>
						<ul>
							<li><a href="#"><i class='bx bx-chevrons-right bx-tada'></i>Browse Jobs</a></li>
							<li><a href="#"><i class='bx bx-chevrons-right bx-tada'></i>Account</a></li>
							<li><a href="#"><i class='bx bx-chevrons-right bx-tada'></i>Browse Categories</a></li>
							<li><a href="#"><i class='bx bx-chevrons-right bx-tada'></i>Resume</a></li>
							<li><a href="#"><i class='bx bx-chevrons-right bx-tada'></i>Job List</a></li>
							<li><a href="#"><i class='bx bx-chevrons-right bx-tada'></i>Sign Up</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget pl-60">
						<h3>Quick Links</h3>
						<ul>
							<li><a href="#"><i class='bx bx-chevrons-right bx-tada'></i>Home</a></li>
							<li><a href="#"><i class='bx bx-chevrons-right bx-tada'></i>About</a></li>
							<li><a href="#"><i class='bx bx-chevrons-right bx-tada'></i>FAQ</a></li>
							<li><a href="#"><i class='bx bx-chevrons-right bx-tada'></i>Pricing</a></li>
							<li><a href="#"><i class='bx bx-chevrons-right bx-tada'></i>Privacy</a></li>
							<li><a href="#"><i class='bx bx-chevrons-right bx-tada'></i>Contact</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget footer-info">
						<h3>Information</h3>
						<ul>
							<li>
								<span>
									<i class='bx bxs-phone'></i>
									Phone:
								</span>
								<a href="tel:882569756">
									+123 456 678
								</a>
							</li>

							<li>
								<span>
									<i class='bx bxs-envelope'></i>
									Email:
								</span>
								<a href="mailto:info@jovie.com">
									info@tekup-job-board.com
								</a>
							</li>

							<li>
								<span>
									<i class='bx bx-location-plus'></i>
									Address:
								</span>
								123, Rades, Tunis
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="copyright-text text-center">
		<p>Copyright &copy;
			{{ "now"|date('Y') }}
			{{ app_name }}
		</p>
	</div>
	<!-- Footer Section End -->
{% endblock %}
