{# {{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
#}
{# {{ form_start(form) }}
{{ form_widget(form) }}
{% if form.logo.vars.value is empty %}
<a href="{{ asset('uploads/imgs/' ~ form.logo.vars.value) }}">View brochure (PDF)</a>
{% endif %}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">{{ form_row(form.name, { label: 'Comany Name', attr: { class: 'form-control' } }) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">{{ form_row(form.logo, { label: 'Logo', attr: { class: 'form-control' } }) }}
        </div>
        {% if form.logo.vars.data is not empty %}
        <img src="{{ asset('uploads/imgs/' ~ form.logo.vars.data) }}" alt="Logo" width="200" height="200">
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="form-group">{{ form_row(form.address, { label: 'Comany Address', attr: { class: 'form-control' } })
            }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">{{ form_row(form.longitude, { label: 'Longitude', attr: { class: 'form-control' } }) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">{{ form_row(form.latitude, { label: 'Latitude', attr: { class: 'form-control' } }) }}
        </div>
    </div>
    <div class="col-md-12 text-center">
        <button class="btn post-btn">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}