<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>{% block title %}TEKUP-JOB-BOARD{% endblock %}</title>

	<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
	<link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">
	<link rel="stylesheet" href="{{asset('css/boxicon.min.css')}}">
	<link rel="stylesheet" href="{{asset('fonts/flaticon/flaticon.css')}}">
	<link rel="stylesheet" href="{{asset('css/meanmenu.css')}}">
	<link rel="stylesheet" href="{{asset('css/nice-select.css')}}">
	<link rel="stylesheet" href="{{asset('css/style.css')}}">
	<link rel="stylesheet" href="{{asset('css/dark.css')}}">
	<link rel="stylesheet" href="{{asset('css/responsive.css')}}">



	<link rel="stylesheet" href="{{asset('css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{asset('css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css') }}">
	<link rel="stylesheet" href="{{asset('css/boxicon.min.css') }}">
	<link rel="stylesheet" href="{{asset('fonts/flaticon/flaticon.css') }}">
	<link rel="stylesheet" href="{{asset('css/meanmenu.css') }}">
	<link rel="stylesheet" href="{{asset('css/style.css') }}">
	<link rel="stylesheet" href="{{asset('css/dark.css') }}">
	<link rel="stylesheet" href="{{asset('css/responsive.css') }}">
	<link rel="icon" type="image/png" href="{{asset('img/favicon.ico') }}">
	{% block stylesheets %}
	{% endblock %}

	{% block javascripts %}
	{% endblock %}
</head>

<body>
	<!-- Pre-loader Start -->
	<div class="loader-content">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="sk-circle">
					<div class="sk-circle1 sk-child"></div>
					<div class="sk-circle2 sk-child"></div>
					<div class="sk-circle3 sk-child"></div>
					<div class="sk-circle4 sk-child"></div>
					<div class="sk-circle5 sk-child"></div>
					<div class="sk-circle6 sk-child"></div>
					<div class="sk-circle7 sk-child"></div>
					<div class="sk-circle8 sk-child"></div>
					<div class="sk-circle9 sk-child"></div>
					<div class="sk-circle10 sk-child"></div>
					<div class="sk-circle11 sk-child"></div>
					<div class="sk-circle12 sk-child"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Pre-loader End -->

	{% block body %}{% endblock %}
	<!-- Back To Top Start -->
	<div class="top-btn">
		<i class='bx bx-chevrons-up bx-fade-up'></i>
	</div>
	<!-- Back To Top End -->

	<script src="{{asset('js/jquery.min.js')}}"></script>
	<script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
	<script src="{{asset('js/owl.carousel.min.js')}}"></script>
	<script src="{{asset('js/jquery.nice-select.min.js')}}"></script>
	<script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script>
	<script src="{{asset('js/form-validator.min.js')}}"></script>
	<script src="{{asset('js/meanmenu.js')}}"></script>
	<script src="{{asset('js/custom.js')}}"></script>
</body>

</html>