{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}

    <section class="account-section ptb-100">
        <div class="container">
            {% if app.session.flashbag.has('success') %}
                <div class="alert alert-success" role="alert">
                    {{ app.session.flashbag.get('success') | first }}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-4">
                    <div class="account-information">
                        <div class="profile-thumb">
                            <img src="{{ asset('uploads/imgs/' ~ app.user.imgUrl) }}" alt="Profile picture">
                            <h3>{{ app.user.firstName }} {{ app.user.lastName}}</h3>
                            <p>{{ app.user.jobTitle }}</p>
                        </div>

                        <ul>
                            <li>
                                <a href="{{ path('app_user_profile') }}" {% if app.request.attributes.get('_route') == 'app_user_profile' %}class="active"{% endif %}>
                                    <i class='bx bx-user'></i>
                                    My Profile
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('update_password') }}" {% if app.request.attributes.get('_route') == 'update_password' %}class="active"{% endif %}>
                                    <i class='bx bx-lock-alt'></i>
                                    Change Password
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_jobs') }}">
                                    <i class='bx bx-briefcase'></i>
                                    Applied Job
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bx-heart'></i>
                                    Saved Jobs
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bx-log-out'></i>
                                    Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="account-details">

                        <div class="container mt-5">
                            <h3 >Applied Jobs</h3>

                            {% if appliedJobs|length > 0 %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Deadline</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for job in appliedJobs %}
                                        <tr>
                                            <td>{{ job.getTitle() }}</td>
                                            <td>{{ job.getDescription() }}</td>
                                            <td>{{ job.getDeadline() ? job.getDeadline()|date('Y-m-d H:i:s') : 'N/A' }}</td>
                                            <td>
                                                {% if job.getStatus() == 'active' %}
                                                    <i class="fas fa-check-circle text-success"></i> Active
                                                {% elseif job.getStatus() == 'ended' %}
                                                    <i class="fas fa-times-circle text-danger"></i> Ended
                                                {% else %}
                                                    <i class="fas fa-info-circle text-info"></i> {{ job.getStatus() }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No applied jobs found.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
